/* General and reset styles */

*,
*::before,
*::after,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    background-color: #C6C6C6;
}

/* App container and article styles */

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
    color: black;
    background-color: #ededed;
}

.hero,
.post {
    background-color: #ffffff;
}

/* App header styles */

.hero {
    border-bottom: 1px solid #c6c6c6;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}

nav ul {
    list-style-type: none;
}

.logo {
    width: 127px;
    height: auto;
}

/* Posts */

.post {
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.user-info {
    margin: 6.5px;
}

.avatar {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-image-btn-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.post-caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 10px;
}

.post-separator {
    height: 25px;
}


/* Post interactions */

.btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin: 5px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-img {
    width: 22px;
}

/* Typography */

h2,
article {
    font-size: 13px;
}

.accent-text {
    font-weight: 700;
}

.small-text {
    font-size: 12px;
}

.username a {
    color: #000000;
    text-decoration: none;
}